@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s ease;
}
html{color: white;}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

$dark: oklch(20.8% 0.042 265.755);;
$grey: oklch(27.9% 0.041 260.031);
$grey-dark:oklch(27.8% 0.033 256.848);
$grey-light: oklch(37.2% 0.044 257.287);
$red-bright: oklch(57.7% 0.245 27.325);
$lime: oklch(76.8% 0.233 130.85);
$yellow: oklch(85.2% 0.199 91.936);
body {
  background-color: $dark;
  font-family: "Open Sans", sans-serif;
  height: auto;
  .layout {
    max-width: 1500px;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: $grey;

    .nav-item {
      padding: 10px 20px;
      background-color: $grey-light;
      border-radius: 3px;
      font-size: 20px;
      font-weight: 600;
      
    }
    .nav-item:hover{
      opacity: 50%;
    }
    .nav-logout {
      background-color: $yellow;
      &:hover {
        background-color: $red-bright;
      }
    }
    .nav-login {
      background-color: $yellow;
      &:hover {
        background-color: $lime;
      }
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .przedmiot {
    background-color: $grey-dark;
    padding: 10px;
    min-width: 276px;
    border-radius: 5px;
    
    &:hover {
      transform: scale(95%)
    }
    img {
      max-width: 150px;
      margin: 0 auto;
      margin-top: 20px;
    }
    h2 {
      font-size: 16px;
      margin: 20px 0;
    }
    .button-cost {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      span {
        color: $yellow;
        font-weight: 700;
      }
      button {
        position: relative;
        z-index: 2;
        background-color: $yellow;
        padding: 5px 15px;
        border-radius: 5px;
        font-weight: 600;
        color: black;
      }
      button:hover {
        opacity: 50%;
      }
    }
  }
  .flex-items-cart {
    display: flex;
    justify-content: space-between;
  }
  .cart {
    background-color: $grey;
    min-height: 200px;
  }
  .main {
    h1 {
      margin: 20px 0;
    }
  }
  .footer {
    background-color: $grey;
    padding: 10px 0;
  }
}